<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container" id="choose-files" oncopy="return false" oncut="return false" onpaste="return false">
  <div class="row">

      <form name="form1" method="POST" action="/downloadfile">
        <div class="download-div"><b class="upload-file">Download File</b> </div>
          <b>File Id:</b> <input type="text" name="fname" >
          <input class="btn btn-primary" type="submit" value="Save" >
    </form>
  </div>
  <div class="file-id-container">File data: <%= data %></div>
    <a href="<%= filePath %>" download>Download file</a>
</div>

</body>
</html>

<style>
body {
  height: 100vh;
  display: flex;
  background-image: url('https://media.licdn.com/dms/image/C4D0BAQFYZNUhSdzaYw/company-logo_200_200/0/1519952253818?e=2147483647&v=beta&t=2WsPnYN0x7EVwPfbbfm09NwZU2Nbc141WfIoKGjbbsw');
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 500px;
    margin: auto;
    border: 2px black solid;
    border-radius: 10px;
    text-align: center;
    background-color: white;
}
.container h1 {
    text-align: center;
    margin: auto;
    color: white;
}
form .input-group {
    margin-bottom: 15px;
}
form label {
    display: block;
}
form input {
    padding: 8px 10px;
    width: 80%;
    border: 1px solid #ccc;
}
.file-id-container{
    font-size: 20px;
}
.submit-btn {
    width: 100%;
    border: none;
    background: rgb(37, 83, 3);
    font-size: 18px;
    color: white;
    border-radius: 3px;
    padding: 20px;
    text-align: center;
}
.btn-primary{
    margin-top: 10px;
}
form {
    background-color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}
.download-div{
    margin-bottom: 10px;
}
.upload-file{
    font-size: 30px;
    margin-bottom: 10px;
}
</style>