<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container" id="choose-files" oncopy="return false" oncut="return false" onpaste="return false">
  <div class="row">

      <form name="form1" method="POST" action="/downloadfile">
          <b>file Id:</b> <input type="text" name="fname" >
          <input class="btn btn-primary" type="submit" value="Save" >
    </form>
  </div>
  <div class="file-id-container">File data: <%= data %></div>
</div>

</body>
</html>