<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container col-sm-12" id="choose-files" oncopy="return false" oncut="return false" onpaste="return false">
  <div class="row">

    <form action="/uploadfile" method="post" enctype="multipart/form-data">
           <b>Cashback:</b> <input type="file" name="cashbackfiles" id="cashbackfiles"
           multiple/>
           <input class="btn btn-primary" type="submit" style="border-radius: 4px;" name="cashbackfiles" value="Upload">
       </form>
  </div>
</div>

</body>
<style type="text/css">


</style>
</html>