<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload File Tutorial</title>
</head>
<body>

<div class="container col-sm-12" id="choose-files" oncopy="return false" oncut="return false" onpaste="return false">
  <div class="row">

    <form action="/uploadfile" method="post" enctype="multipart/form-data">
           <b>Cashback:</b> <input type="file" name="cashbackfiles" id="cashbackfiles"
           multiple/>
           <input class="btn btn-primary" type="submit" style="border-radius: 4px;" name="cashbackfiles" value="Upload">
       </form>
  </div>
</div>

</body>
</html>