<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container" id="choose-files" oncopy="return false" oncut="return false" onpaste="return false">
  <div class="row">

    <form action="/uploadfile" method="post" enctype="multipart/form-data">
           <div class="upload-div"><b>Upload File</b> </div><input type="file" name="file-input" id="file-input" multiple/>
           <input class="btn-primary" type="submit" style="border-radius: 4px;" name="file" value="Upload">
    </form>
  </div>
  <div class="file-id-container">File ID: <%= fileId %></div>
  <div><a href="/downloadPage">Go to download page</a></div>
</div>
</body>
<style type="text/css">

.upload-div{
    margin-bottom: 10px;
}
body {
   background-color: white(6, 26, 27);
    height: 100vh;
    display: flex;
}
* {
    box-sizing: border-box;
}
.image {
    margin: auto;
    margin-right: 300px;
}
.container {
    max-width: 500px;
    margin: auto;
    border: 2px black solid;
    border-radius: 10px;
    text-align: center;
}
.container h1 {
    text-align: center;
    margin: auto;
    color: white;
}
b{
    font-size: 30px;
    margin-bottom: 10px;
}
form {
    background-color: white;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}
form .input-group {
    margin-bottom: 15px;
}
form label {
    display: block;
}
form input {
    padding: 12px 20px;
    width: 100%;
    border: 1px solid #ccc;
}
.file-id-container{
    font-size: 20px;
}
.submit-btn {
    width: 100%;
    border: none;
    background: rgb(37, 83, 3);
    font-size: 18px;
    color: white;
    border-radius: 3px;
    padding: 20px;
    text-align: center;
}
.btn-primary{
    margin-top: 10px;
}
</style>
</html>